[submodule "movie-user"]
	path = movie-user
	url = git@github.com:b4456609/movie-user.git
[submodule "movie-order"]
	path = movie-order
	url = git@github.com:b4456609/movie-order.git
[submodule "movie-movie"]
	path = movie-movie
	url = git@github.com:b4456609/movie-movie.git
[submodule "movie-theater"]
	path = movie-theater
	url = git@github.com:b4456609/movie-theater.git
[submodule "movie-eureka"]
	path = movie-eureka
	url = git@github.com:b4456609/movie-eureka.git
[submodule "movie-zuul"]
	path = movie-zuul
	url = git@github.com:b4456609/movie-zuul.git
